---

---

<div class='h-max w-max relative'>
  <div class='h-max flex flex-col gap-[2vh] w-full mt-[6vh] px-[4vw]'>
    <span class='font-[500] text-[3vh] text-[#f1eec8]'>Activities:</span>
  </div>
  <div
    class='h-max flex flex-col gap-[1vh] px-[4vw] py-[2vh] text-[2.4vh] w-full text-[#DCDDE0]'
  >
    <span class='flex items-center'>
      <svg
        height='44'
        viewBox='0 0 24 24'
        width='44'
        xmlns='http://www.w3.org/2000/svg'
        ><path
          d='M10.74 10.75L12 8l1.25 2.75L16 12l-2.75 1.26L12 16l-1.26-2.74L8 12z'
          fill='#DCDDE0'></path></svg
      ><span>Children's play area</span>
    </span>
    <span class='flex items-center'>
      <svg
        height='44'
        viewBox='0 0 24 24'
        width='44'
        xmlns='http://www.w3.org/2000/svg'
        ><path
          d='M10.74 10.75L12 8l1.25 2.75L16 12l-2.75 1.26L12 16l-1.26-2.74L8 12z'
          fill='#DCDDE0'></path></svg
      >
      <span>By-cycle ride</span>
    </span>
    <span class='flex items-center'>
      <svg
        height='44'
        viewBox='0 0 24 24'
        width='44'
        xmlns='http://www.w3.org/2000/svg'
        ><path
          d='M10.74 10.75L12 8l1.25 2.75L16 12l-2.75 1.26L12 16l-1.26-2.74L8 12z'
          fill='#DCDDE0'></path></svg
      >
      <span>Mini tractor ride</span>
    </span>
    <span class='flex items-center'>
      <svg
        height='44'
        viewBox='0 0 24 24'
        width='44'
        xmlns='http://www.w3.org/2000/svg'
        ><path
          d='M10.74 10.75L12 8l1.25 2.75L16 12l-2.75 1.26L12 16l-1.26-2.74L8 12z'
          fill='#DCDDE0'></path></svg
      >
      <span>Coconut farm</span>
    </span>
    <span class='flex items-center'>
      <svg
        height='44'
        viewBox='0 0 24 24'
        width='44'
        xmlns='http://www.w3.org/2000/svg'
        ><path
          d='M10.74 10.75L12 8l1.25 2.75L16 12l-2.75 1.26L12 16l-1.26-2.74L8 12z'
          fill='#DCDDE0'></path></svg
      >
      <span>Natural farm pond</span>
    </span>
    <span class='flex items-center'>
      <svg
        height='44'
        viewBox='0 0 24 24'
        width='44'
        xmlns='http://www.w3.org/2000/svg'
        ><path
          d='M10.74 10.75L12 8l1.25 2.75L16 12l-2.75 1.26L12 16l-1.26-2.74L8 12z'
          fill='#DCDDE0'></path></svg
      >
      <span>Native cattle</span>
    </span>
    <span class='flex items-center'>
      <svg
        height='44'
        viewBox='0 0 24 24'
        width='44'
        xmlns='http://www.w3.org/2000/svg'
        ><path
          d='M10.74 10.75L12 8l1.25 2.75L16 12l-2.75 1.26L12 16l-1.26-2.74L8 12z'
          fill='#DCDDE0'></path></svg
      >
      <span>Fresh farm water tank.</span>
    </span>
  </div>
</div>
