---
import { Image } from "astro:assets";
---

<div class='h-max flex flex-col gap-[1vh] py-[4vh] w-[70%]'>
  <div class='h-max flex flex-col gap-[4vh] pl-[2.4vw] w-[60%]'>
    <span class='text-[#f1eec8] font-[480] text-[3.4vh]'>Ammenities:</span><div
      class='h-max flex flex-col text-[#DCDDE0] gap-[2.8vh] w-[56vw]'
    >
      <div
        class='h-max flex items-center border-[#444] border-b-[1px] justify-evenly pb-[2vh] text-[1.8vh] w-full'
      >
        <div
          class='h-max flex flex-col gap-[1vh] items-center justify-center w-1/3 border-[#444] border-r-[1px]'
        >
          <svg
            height='34'
            viewBox='0 0 24 24'
            width='34'
            xmlns='http://www.w3.org/2000/svg'
            ><path
              d='M5 19H4l-.65-2H2v-5.025q0-.825.588-1.4T4 10V7q0-.825.588-1.412T6 5h12q.825 0 1.413.588T20 7v3q.825 0 1.413.588T22 12v5h-1.35L20 19h-1l-.65-2H5.65zm8-9h5V7h-5zm-7 0h5V7H6z'
              fill='#f1eec8'></path></svg
          >
          <span>King Size Bed</span>
        </div><div
          class='h-max flex flex-col gap-[1vh] items-center justify-center w-1/3 border-[#444] border-r-[1px]'
        >
          <span class='text-[#f1eec8] font-[600] text-[2.8vh]'>350</span><h3>
            350 sq.ft area
          </h3>
        </div><div
          class='h-max flex flex-col gap-[1vh] items-center justify-center w-1/3'
        >
          <svg
            height='34'
            viewBox='0 0 24 24'
            width='34'
            xmlns='http://www.w3.org/2000/svg'
            ><path
              d='M6 21V3h7q2.5 0 4.25 1.75T19 9q0 2.5-1.75 4.25T13 15h-3v6zm4-10h3.2q.825 0 1.413-.587T15.2 9q0-.825-.587-1.412T13.2 7H10z'
              fill='#f1eec8'></path></svg
          >
          <span>Car Parking</span>
        </div>
      </div><div
        class='h-max flex items-center w-full justify-evenly text-[1.8vh]'
      >
        <div
          class='h-max flex flex-col gap-[1vh] items-center justify-center w-1/3 border-[#444] border-r-[1px]'
        >
          <svg
            height='34'
            viewBox='0 0 24 24'
            width='34'
            xmlns='http://www.w3.org/2000/svg'
            ><path
              d='M11 22v-4.15l-3.25 3.2l-1.4-1.4L11 15v-2H9l-4.65 4.65l-1.4-1.4L6.15 13H2v-2h4.15l-3.2-3.25l1.4-1.4L9 11h2V9L6.35 4.35l1.4-1.4L11 6.15V2h2v4.15l3.25-3.2l1.4 1.4L13 9v2h2l4.65-4.65l1.4 1.4l-3.2 3.25H22v2h-4.15l3.2 3.25l-1.4 1.4L15 13h-2v2l4.65 4.65l-1.4 1.4l-3.25-3.2V22z'
              fill='#f1eec8'></path></svg
          >
          <span>AC / Air Conditioner</span>
        </div><div
          class='h-max flex flex-col gap-[1vh] items-center justify-center w-1/3 border-[#444] border-r-[1px]'
        >
          <svg
            height='34'
            viewBox='0 0 14 14'
            width='34'
            xmlns='http://www.w3.org/2000/svg'
            ><path
              d='M3 6.5a4 4 0 0 1 8 0Zm2 3v1m-1.5 2v1m3.5-1v1m3.5-1v1M9 9.5v1m-2-8v-2'
              fill='none'
              stroke='#f1eec8'
              stroke-linecap='round'
              stroke-linejoin='round'></path></svg
          >
          <span>Hot Water</span>
        </div><div
          class='h-max flex flex-col gap-[1vh] items-center justify-center w-1/3'
        >
          <svg
            height='34'
            viewBox='0 0 24 24'
            width='34'
            xmlns='http://www.w3.org/2000/svg'
            ><path
              d='M21 3H3c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h5v2h8v-2h5c1.1 0 1.99-.9 1.99-2L23 5c0-1.1-.9-2-2-2m0 14H3V5h18z'
              fill='#f1eec8'></path></svg
          >
          <span>DTH Television</span>
        </div>
      </div>
    </div>
  </div>
</div>
