---
import Desktop from "../../layouts/Desktop.astro";
---

<div>
  <section
    class='section bg-gradient-to-t from-[#F8F2DC] to-[#3B1F1F] pt-[8vh] pb-[12vh] flex flex-col gap-[8vh]'
  >
    <div
      class='flex h-max flex-col justify-center w-full gap-[2vh] items-start px-[4vw] min-[990px]:items-center pt-[2vh]'
    >
      <h2
        class='font-[500] bg-clip-text inline-block text-transparent bg-gradient-to-b from-[#fff] text-start to-[#DCDDE0] text-[4.2vh] leading-[4.8vh] min-[990px]:text-[4.8vh]'
      >
        Your Queries Answered: Family-Friendly Retreats at Our Pollachi
        Farmhouse
      </h2><h3 class='text-[1.8vh] font-[400] ml-[1vw] text-start text-[#fff9]'>
        FAQ's About Our Farmhouse at Sethumadai.
      </h3>
    </div>
    <div class='container mx-auto max-w-[1440px]'>
      <div
        class='accordions max-w-[40%] mx-auto text-white bg-[#3B1F1F] rounded-xl'
      >
        <div
          class='accordion border-b-[.1vh] font-[300] pb-[2vh] px-[2vw] border-b-[.1vh] cursor-pointer ease-in-out duration-[0.25s]'
        >
          <label
            class='accordionTitlePC appearance-none font-[300] py-[2vh] px-[2vw] cursor-pointer ease-in-out duration-[0.25s]'
            for='radio_1'
          >
            <input
              class='appearance-none'
              type='radio'
              name='radio'
              id='radio_1'
            />

            <span class='flex items-center text-[2.4vh]'>
              What are the check-in and check-out Timings?<svg
                xmlns='http://www.w3.org/2000/svg'
                width='38'
                height='38'
                viewBox='0 0 24 24'
                ><path
                  fill='#ececec'
                  d='M11.475 14.475L7.85 10.85q-.075-.075-.112-.162T7.7 10.5q0-.2.138-.35T8.2 10h7.6q.225 0 .363.15t.137.35q0 .05-.15.35l-3.625 3.625q-.125.125-.25.175T12 14.7q-.15 0-.275-.05t-.25-.175'
                ></path></svg
              >
            </span>
          </label>
          <div class='accordionTextPC px-[2vw]'>
            <p>- The standard check-in time and check-out time is 12 noon.</p>
          </div>
        </div>
        <div
          class='accordion border-b-[.1vh] font-[300] pb-[2vh] px-[2vw] cursor-pointer ease-in-out duration-[0.25s]'
        >
          <label
            class='accordionTitlePC appearance-none font-[300] py-[0vh] px-[2vw] cursor-pointer ease-in-out duration-[0.25s]'
            for='radio_2'
          >
            <input
              class='appearance-none'
              type='radio'
              name='radio'
              id='radio_2'
            />
            <span class='flex items-center text-[2.4vh] justify-between'>
              Is pets allowed there?<svg
                xmlns='http://www.w3.org/2000/svg'
                width='32'
                height='32'
                viewBox='0 0 24 24'
                ><path
                  fill='#ececec'
                  d='M11.475 14.475L7.85 10.85q-.075-.075-.112-.162T7.7 10.5q0-.2.138-.35T8.2 10h7.6q.225 0 .363.15t.137.35q0 .05-.15.35l-3.625 3.625q-.125.125-.25.175T12 14.7q-.15 0-.275-.05t-.25-.175'
                ></path></svg
              >
            </span>
          </label>
          <div class='accordionTextPC px-[2vw]'>
            <p>- Yes, pets are allowed.</p>
          </div>
        </div>
        <div
          class='accordion border-b-[.1vh] font-[300] pb-[2vh] px-[2vw] cursor-pointer ease-in-out duration-[0.25s]'
        >
          <label
            class='accordionTitlePC appearance-none font-[300] py-[2vh] px-[2vw] cursor-pointer ease-in-out duration-[0.25s]'
            for='radio_4'
          >
            <input
              class='appearance-none'
              type='radio'
              name='radio'
              id='radio_4'
            />
            <span class='flex items-center text-[2.4vh] justify-between'>
              What Dining Options are Available?<svg
                xmlns='http://www.w3.org/2000/svg'
                width='32'
                height='32'
                viewBox='0 0 24 24'
                ><path
                  fill='#ececec'
                  d='M11.475 14.475L7.85 10.85q-.075-.075-.112-.162T7.7 10.5q0-.2.138-.35T8.2 10h7.6q.225 0 .363.15t.137.35q0 .05-.15.35l-3.625 3.625q-.125.125-.25.175T12 14.7q-.15 0-.275-.05t-.25-.175'
                ></path></svg
              >
            </span>
          </label>
          <div class='accordionTextPC px-[2vw]'>
            <p>
              - Home Food Available See what food are availble <a
                class='text-blue-500 underline'
                href='#'>here</a
              >
            </p>
          </div>
        </div>
        <div
          class='accordion border-b-[.1vh] font-[300] pb-[2vh] px-[2vw] cursor-pointer ease-in-out duration-[0.25s]'
        >
          <label
            class='accordionTitlePC appearance-none font-[300] py-[2vh] px-[2vw] cursor-pointer ease-in-out duration-[0.25s]'
            for='radio_3'
          >
            <input
              class='appearance-none'
              type='radio'
              name='radio'
              id='radio_3'
            />
            <span class='flex items-center text-[2.4vh] justify-between'>
              Is Parking Space Available?<svg
                xmlns='http://www.w3.org/2000/svg'
                width='32'
                height='32'
                viewBox='0 0 24 24'
                ><path
                  fill='#ececec'
                  d='M11.475 14.475L7.85 10.85q-.075-.075-.112-.162T7.7 10.5q0-.2.138-.35T8.2 10h7.6q.225 0 .363.15t.137.35q0 .05-.15.35l-3.625 3.625q-.125.125-.25.175T12 14.7q-.15 0-.275-.05t-.25-.175'
                ></path></svg
              >
            </span>
          </label>
          <div class='accordionTextPC px-[2vw]'>
            <p>- Free Parking.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<style>
  .accordion .accordionTitlePC {
    display: block;
    background-color: var(--white);
    border-bottom: 1px solid #0002;
    padding: 20px 10px;
    margin-top: 10px;
    transition: all 0.25s ease;
    cursor: pointer;
  }

  .accordion .accordionTextPC {
    overflow: hidden;
    max-height: 0;
    background-color: var(--gray-light);
    filter: contrast(0.9);
    transition: all 0.5s ease-in-out;
  }

  .accordion .accordion-titlePC:has(input:checked) + .accordionTextPC {
    max-height: 200px;
  }
</style>
