---

---

<div class='h-max flex flex-col items-center justify-center w-[28vw]'>
  <div
    class='h-[30vh] backdrop-blur-[8px] bg-opacity-[.4] bg-[#555] mt-[12vh] pl-[2vw] pr-[4vw] pt-[6vh] rounded-md shadow-3xl w-full'
  >
    <span class='text-[3.2vh] leading-[5.8vh] text-[#ececec]'
      >If you have any queries, contact at:<br /><a
        href='tel:+91 9894648555'
        class='underline underline-offset-[.6vh]'>+91 9894648555</a
      ></span
    >
  </div>
  <div
    class='h-max flex flex-col items-start pl-[2vw] backdrop-blur-[8px] bg-opacity-[.4] bg-[#444] gap-[4vh] leading-[5.8vh] mt-[12vh] pr-[4vw] pt-[6vh] py-[4vh] rounded-md shadow-3xl text-[#ececec] text-[2.8vh] w-full'
  >
    <span class='underline text-start underline-offset-[1vh]'>Please Note:</span
    >
    <span
      >- Cottage bookings should be confirmed minimum 1 Day before Check-in by
      making 50% advance payment.</span
    >
    <span
      >- It is compulsory to show your Aadhar ID for cottage booking and at
      Checkin to maintain Guest-register as per the local laws.</span
    >
    <span
      >- Prices mentioned are exclusive of all taxes. GST shall be applicable
      wherever mandatory as per law.</span
    >
  </div>
</div>
