---
import Desktop from "../../layouts/Desktop.astro";
---

<Desktop>
  <div
    class='max-[990px]:hidden flex h-max flex-col w-max ease-in-out absolute backdrop-blur-[14px] bg-[#0004] duration-300 gap-[4vh] hover:translate-x-0 max-[990px]:hidden pl-[1vw] pr-[2vw] pr-[4vw] py-[4vh] right-0 rounded-l-lg socials top-[30vh] translate-x-[70%] z-[9]'
  >
    <a
      onclick="return gtag_report_conversion('https:/wa.link/y13k8n');"
      href='https://wa.link/qkbriw'
      class='convBTN flex items-center cursor-pointer gap-[3.4vw]'
      ><svg
        height='32'
        viewBox='0 0 24 24'
        width='32'
        xmlns='http://www.w3.org/2000/svg'
        ><path
          d='M19.05 4.91A9.816 9.816 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01m-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.264 8.264 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.183 8.183 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23m4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07c0 1.22.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28'
          fill='#fff'></path></svg
      >
      <span
        class='text-white ease-in-out duration-300 hover:text-green-300 whatsappText'
        >Whatsapp</span
      >
    </a><a
      href='https://www.instagram.com/laksemfarmstay/?hl=en'
      class='flex items-center cursor-pointer gap-[3.4vw]'
      target='_blank'
      ><svg
        height='32'
        viewBox='0 0 24 24'
        width='32'
        xmlns='http://www.w3.org/2000/svg'
        ><path
          d='M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3'
          fill='#ececec'></path></svg
      >
      <span
        class='text-white ease-in-out duration-300 hover:text-pink-300 instaText'
        >Instagram</span
      >
    </a><a
      href='https://www.youtube.com/@laksemfarmstay'
      class='flex items-center cursor-pointer gap-[3.4vw]'
      ><svg
        height='32'
        viewBox='0 0 32 32'
        width='32'
        xmlns='http://www.w3.org/2000/svg'
        ><path
          d='M29.41 9.26a3.5 3.5 0 0 0-2.47-2.47C24.76 6.2 16 6.2 16 6.2s-8.76 0-10.94.59a3.5 3.5 0 0 0-2.47 2.47A36.13 36.13 0 0 0 2 16a36.13 36.13 0 0 0 .59 6.74a3.5 3.5 0 0 0 2.47 2.47c2.18.59 10.94.59 10.94.59s8.76 0 10.94-.59a3.5 3.5 0 0 0 2.47-2.47A36.13 36.13 0 0 0 30 16a36.13 36.13 0 0 0-.59-6.74M13.2 20.2v-8.4l7.27 4.2Z'
          fill='#ececec'></path></svg
      >
      <span
        class='text-white ease-in-out duration-300 mapsText hover:text-red-500'
        >Youtube</span
      >
    </a><a
      href='https://www.facebook.com/laksemfarmstay/'
      class='flex items-center cursor-pointer gap-[3.4vw]'
      ><svg
        height='32'
        viewBox='0 0 24 24'
        width='32'
        xmlns='http://www.w3.org/2000/svg'
        ><path
          d='M12 2.04c-5.5 0-10 4.49-10 10.02c0 5 3.66 9.15 8.44 9.9v-7H7.9v-2.9h2.54V9.85c0-2.51 1.49-3.89 3.78-3.89c1.09 0 2.23.19 2.23.19v2.47h-1.26c-1.24 0-1.63.77-1.63 1.56v1.88h2.78l-.45 2.9h-2.33v7a10 10 0 0 0 8.44-9.9c0-5.53-4.5-10.02-10-10.02'
          fill='#ececec'></path></svg
      >
      <span class='text-white ease-in-out duration-300 hover:text-blue-500'
        >Facebook</span
      >
    </a><a
      href='https://maps.app.goo.gl/N8kvpE7x7jYjUae8A'
      class='flex items-center cursor-pointer gap-[3.4vw]'
      ><svg
        height='32'
        viewBox='0 0 24 24'
        width='32'
        xmlns='http://www.w3.org/2000/svg'
        ><path
          d='M19.527 4.799c1.212 2.608.937 5.678-.405 8.173c-1.101 2.047-2.744 3.74-4.098 5.614c-.619.858-1.244 1.75-1.669 2.727c-.141.325-.263.658-.383.992c-.121.333-.224.673-.34 1.008c-.109.314-.236.684-.627.687h-.007c-.466-.001-.579-.53-.695-.887c-.284-.874-.581-1.713-1.019-2.525c-.51-.944-1.145-1.817-1.79-2.671zM8.545 7.705l-3.959 4.707c.724 1.54 1.821 2.863 2.871 4.18c.247.31.494.622.737.936l4.984-5.925l-.029.01c-1.741.601-3.691-.291-4.392-1.987a3.377 3.377 0 0 1-.209-.716c-.063-.437-.077-.761-.004-1.198zM5.492 3.149l-.003.004c-1.947 2.466-2.281 5.88-1.117 8.77l4.785-5.689l-.058-.05zM14.661.436l-3.838 4.563a.295.295 0 0 1 .027-.01c1.6-.551 3.403.15 4.22 1.626c.176.319.323.683.377 1.045c.068.446.085.773.012 1.22l-.003.016l3.836-4.561A8.382 8.382 0 0 0 14.67.439zM9.466 5.868L14.162.285l-.047-.012A8.31 8.31 0 0 0 11.986 0a8.439 8.439 0 0 0-6.169 2.766l-.016.018z'
          fill='#ececec'></path></svg
      >
      <span
        class='text-white ease-in-out duration-300 mapsText hover:text-green-700'
        >Maps</span
      ></a
    >
  </div>
</Desktop>
