---
import Desktop from "../../layouts/Desktop.astro";

import vasanthTest from "./../../assets/people/vasanth.webp";
import rajeshTest from "./../../assets/people/rajesh.webp";
import petiTest from "./../../assets/people/petiTest.webp";
import { Image } from "astro:assets";

const { location } = Astro.props;
---

<Desktop>
  <div class='h-max w-max max-[990px]:hidden'>
    <div
      class='h-max w-max bg-gradient-to-t border-[#444] border-b-[1px] border-t-[1px] from-[#3B1F1F] pb-[8vh] to-[#F4EED9]'
      id='TestimonialSection'
    >
      <div
        class='flex items-center h-max w-screen flex-col pt-[8vh] gap-[1.4vh] pb-[16vh]'
      >
        <span
          class='font-[500] w-[70%] text-center bg-clip-text inline-block text-transparent bg-gradient-to-b text-[6.2vh] leading-[7vh] from-[#000] to-[#3B1F1F]'
        >
          Discover Genuine Country Living: Testimonials from Our {location}
          Farmhouse Guests
        </span><span
          class='text-[1.8vh] font-[400] ml-[1vw] text-start text-[#444]'
        >
          See What Our Guests Have to Say
        </span>
      </div><div class='flex h-max justify-evenly px-[6vw] w-screen'>
        <section
          class='flex h-max flex-col px-[2vw] py-[4vh] bg-[#fff] gap-[4vh] justify-evenly revCard rounded-md shadow-lg w-[28vw] z-[9]'
        >
          <div class='flex h-max w-full justify-between flex-[1]'>
            <svg
              height='32'
              viewBox='0 0 24 24'
              xmlns='http://www.w3.org/2000/svg'
              ><path
                d='M5.7 18L8 14q-1.65 0-2.825-1.175T4 10q0-1.65 1.175-2.825T8 6q1.65 0 2.825 1.175T12 10q0 .575-.137 1.063T11.45 12L8 18zm9 0l2.3-4q-1.65 0-2.825-1.175T13 10q0-1.65 1.175-2.825T17 6q1.65 0 2.825 1.175T21 10q0 .575-.137 1.063T20.45 12L17 18z'
                fill='#000'></path></svg
            >
            <svg
              height='24'
              viewBox='0 0 256 262'
              xmlns='http://www.w3.org/2000/svg'
              ><path
                d='M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622l38.755 30.023l2.685.268c24.659-22.774 38.875-56.282 38.875-96.027'
                fill='#4285F4'></path><path
                d='M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055c-34.523 0-63.824-22.773-74.269-54.25l-1.531.13l-40.298 31.187l-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1'
                fill='#34A853'></path><path
                d='M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82c0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602z'
                fill='#FBBC05'></path><path
                d='M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0C79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251'
                fill='#EB4335'></path></svg
            >
          </div><div
            class='flex items-center w-full h-[34vh] text-[2.4vh] text-center'
          >
            Simple &amp; Authentic village styled home stay. It’s Massive
            coconut farm but with only 3 boutique mud villas with private
            dinning &amp; sit out. Its has huge pump &amp; tank which is unique
            &amp; alternative experience to swimming pools. Kids will enjoy.
            Overall value for the deal.
          </div><div
            class='flex items-center h-max justify-center flex-col w-full flex-[1] gap-[2vh]'
          >
            <div class='h-auto overflow-hidden rounded-full w-[4.8vw]'>
              <Image
                src={rajeshTest}
                class='h-full w-full mx-auto object-contain'
                alt='review by rajesh'
              />
            </div><span class='text-[1.8vh] text-[#999]'>rajesh Srinivasan</span
            >
          </div>
        </section><section
          class='flex h-max flex-col px-[2vw] py-[4vh] bg-[#fff] gap-[4vh] justify-evenly revCard rounded-md shadow-lg w-[28vw] z-[9]'
        >
          <div class='flex h-max w-full justify-between flex-[1]'>
            <svg
              height='32'
              viewBox='0 0 24 24'
              xmlns='http://www.w3.org/2000/svg'
              ><path
                d='M5.7 18L8 14q-1.65 0-2.825-1.175T4 10q0-1.65 1.175-2.825T8 6q1.65 0 2.825 1.175T12 10q0 .575-.137 1.063T11.45 12L8 18zm9 0l2.3-4q-1.65 0-2.825-1.175T13 10q0-1.65 1.175-2.825T17 6q1.65 0 2.825 1.175T21 10q0 .575-.137 1.063T20.45 12L17 18z'
                fill='#000'></path></svg
            >
            <svg
              height='24'
              viewBox='0 0 256 262'
              xmlns='http://www.w3.org/2000/svg'
              ><path
                d='M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622l38.755 30.023l2.685.268c24.659-22.774 38.875-56.282 38.875-96.027'
                fill='#4285F4'></path><path
                d='M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055c-34.523 0-63.824-22.773-74.269-54.25l-1.531.13l-40.298 31.187l-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1'
                fill='#34A853'></path><path
                d='M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82c0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602z'
                fill='#FBBC05'></path><path
                d='M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0C79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251'
                fill='#EB4335'></path></svg
            >
          </div><div
            class='flex items-center w-full h-[34vh] text-[2.4vh] text-center'
          >
            Magical experience :) we planned to go to the Tiger reserve but
            basically forgot our plans because of that place and the local
            (crazy) festival happening in town during our stay (mid-March) We
            were the first foreigners to stay here, the owner Ram welcomed us
            with intense care and the indigenous family living there was a
            highlight in itself..
          </div><div
            class='flex items-center h-max justify-center flex-col w-full flex-[1] gap-[2vh]'
          >
            <div class='h-auto overflow-hidden rounded-full w-[4.8vw]'>
              <Image
                src={petiTest}
                class='h-full w-full mx-auto object-contain'
                alt='review by Petites Planètes'
              />
            </div><span class='text-[1.8vh] text-[#999]'
              >Petites Planètes _ Vincent Moon (Petites Planètes)</span
            >
          </div>
        </section><section
          class='flex h-max flex-col px-[2vw] py-[4vh] bg-[#fff] gap-[4vh] justify-evenly revCard rounded-md shadow-lg w-[28vw] z-[9]'
        >
          <div class='flex h-max w-full justify-between flex-[1]'>
            <svg
              height='32'
              viewBox='0 0 24 24'
              xmlns='http://www.w3.org/2000/svg'
              ><path
                d='M5.7 18L8 14q-1.65 0-2.825-1.175T4 10q0-1.65 1.175-2.825T8 6q1.65 0 2.825 1.175T12 10q0 .575-.137 1.063T11.45 12L8 18zm9 0l2.3-4q-1.65 0-2.825-1.175T13 10q0-1.65 1.175-2.825T17 6q1.65 0 2.825 1.175T21 10q0 .575-.137 1.063T20.45 12L17 18z'
                fill='#000'></path></svg
            >
            <svg
              height='24'
              viewBox='0 0 256 262'
              xmlns='http://www.w3.org/2000/svg'
              ><path
                d='M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622l38.755 30.023l2.685.268c24.659-22.774 38.875-56.282 38.875-96.027'
                fill='#4285F4'></path><path
                d='M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055c-34.523 0-63.824-22.773-74.269-54.25l-1.531.13l-40.298 31.187l-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1'
                fill='#34A853'></path><path
                d='M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82c0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602z'
                fill='#FBBC05'></path><path
                d='M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0C79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251'
                fill='#EB4335'></path></svg
            >
          </div><div
            class='flex items-center w-full h-[34vh] text-[2.4vh] text-center'
          >
            Very calm place to stay. Food are really good taste as home Food.
            Definitely we will enjoy the atmosphere. Very good connecting place
            to enjoy forest ride of both the states. Super budgeting place for
            economic lovers.
          </div><div
            class='flex items-center h-max justify-center flex-col w-full flex-[1] gap-[2vh]'
          >
            <div class='h-auto overflow-hidden rounded-full w-[4.8vw]'>
              <Image
                src={vasanthTest}
                class='h-full w-full mx-auto object-contain'
                alt='review by vasanth'
              />
            </div><span class='text-[1.8vh] text-[#999]'>Vasanth</span>
          </div>
        </section>
      </div>
    </div>
  </div>
</Desktop>
