---
import NavBarP from "../components/PC/NavBar-P.astro";
import Page from "../layouts/Page.astro";

import CardAbout from "../components/PC/Card-about.astro";

import FreshAirIMG from "./../assets/fresh-air.webp";
import CocPlantIMG from "./../assets/coconut-plantations.webp";
import CoolAir from "./../assets/cool-indoors.webp";
import unesco from "./../assets/unesco.webp";
import NavBarM from "./../components/MOBILE/NavBar-M.astro";

import FooterP from "../components/PC/Footer-P.astro";
import FooterM from "../components/MOBILE/Footer-M.astro";
import FloatingBarM from "../components/MOBILE/FloatingBar-M.astro";
---

<Page title='About us'>
  <section class='h-max w-max bg-gradient-to-b from-black to-[#3B1F1E]'>
    <NavBarP />
    <NavBarM />
    <FloatingBarM />
    <div
      class='h-max max-[990px]:pt-[24vh] pt-[12vh] max-[990px]:pb-[8vh] mx-auto w-[76vw] max-[990px]:w-[86vw]'
    >
      <h1 class='font-[500] mb-[1.4vh] text-[#fff] text-[6vh]'>About.</h1>
      <p class='text-[#ececec] text-[2.8vh]'>
        The cottage is an amalgamation of naturally and locally available
        materials with less to no cement consumption during construction. It is
        an attempt to balance the generosity of space to the economy and
        availability of materials.
      </p>
      <p class='text-[#ececec] text-[2.8vh]'>
        One of the most interesting features is the traditional method of
        building with earthcob. Cob is a system where the walls are packed with
        a mixture of MUD and lime.
      </p>
    </div>
    <div
      class='h-max w-screen min-[990px]:w-[84%] flex justify-evenly pt-[6vh] pb-[4vh] mx-auto max-[990px]:flex-col max-[990px]:pl-[8vw]'
    >
      <CardAbout
        img={FreshAirIMG}
        heading='Fresh & Healthy Air'
        desc='The massive walls made of cob breathe through its tiny pores and keep the air fresh and healthy'
      />
      <CardAbout
        img={CoolAir}
        heading='Cool Indoors'
        desc=`The thermal properties of cob regulate the temperature indoors thus proving to be energy efficient`
      />
      <CardAbout
        img={CocPlantIMG}
        heading=`Nestled inside Coconut Plantations`
        desc=`Wrapped in coconut trees, The property is a peaceful hideaway where nature's sounds replace city noise`
      />
      <CardAbout
        img={unesco}
        heading='Location'
        desc=`We're nestled by the foothills of the UNESCO-certified "Great Western Ghats," a biodiverse heritage hotspot.`
      />
    </div>
    <!-- FOOTER PC -->
    <div
      class='flex max-[990px]:hidden h-max flex-col w-screen relative bg-gradient-to-t border-[#0009] from-[#000] gap-[2vh] to-[#3B1F1E] border-t-[1px] pt-[8vh] px-[8vw] py-[6vh]'
    >
      <div
        class='flex items-center h-max w-full justify-between border-b-[1px] border-[#0009] pb-[6vh]'
      >
        <div
          class='flex h-max flex-col justify-evenly text-[1.8vh] gap-[1.4vh] text-[#fff] w-[50%]'
        >
          <span class='font-[550]'>"Down to Earth" by LAKSEM</span><span
            class='text-[#ececec]'
            >#24, Topslip Road, Sethumadai Village,<br />Anaimalai Taluk,
            Pollachi, Coimbatore, Tamilnadu.<br />Pincode - 642133.</span
          >
          <a href='tel:+91 9894648555' class='text-[#ececec]'>+91 9894648555</a>
        </div><div
          class='flex items-center h-max justify-center flex-col gap-[1vh] w-[16vw]'
        >
          <span class='font-[500] text-[2.2vh] text-white'>Follow us:</span><div
            class='flex h-max w-max gap-[1vw]'
          >
            <a href='https://in.pinterest.com/laksemfarmstay/' target='_blank'
              ><svg
                height='28'
                viewBox='0 0 24 24'
                xmlns='http://www.w3.org/2000/svg'
                ><path
                  d='M9.04 21.54c.96.29 1.93.46 2.96.46a10 10 0 0 0 10-10A10 10 0 0 0 12 2A10 10 0 0 0 2 12c0 4.25 2.67 7.9 6.44 9.34c-.09-.78-.18-2.07 0-2.96l1.15-4.94s-.29-.58-.29-1.5c0-1.38.86-2.41 1.84-2.41c.86 0 1.26.63 1.26 1.44c0 .86-.57 2.09-.86 3.27c-.17.98.52 1.84 1.52 1.84c1.78 0 3.16-1.9 3.16-4.58c0-2.4-1.72-4.04-4.19-4.04c-2.82 0-4.48 2.1-4.48 4.31c0 .86.28 1.73.74 2.3c.09.06.09.14.06.29l-.29 1.09c0 .17-.11.23-.28.11c-1.28-.56-2.02-2.38-2.02-3.85c0-3.16 2.24-6.03 6.56-6.03c3.44 0 6.12 2.47 6.12 5.75c0 3.44-2.13 6.2-5.18 6.2c-.97 0-1.92-.52-2.26-1.13l-.67 2.37c-.23.86-.86 2.01-1.29 2.7z'
                  fill='#fff'></path></svg
              >
            </a><a
              href='https://www.instagram.com/laksemfarmstay/?hl=en'
              target='_blank'
              ><svg
                height='28'
                viewBox='0 0 24 24'
                xmlns='http://www.w3.org/2000/svg'
                ><path
                  d='M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3'
                  fill='#fff'></path></svg
              >
            </a><a
              href='https://www.facebook.com/laksemfarmstay/'
              target='_blank'
              ><svg
                height='28'
                viewBox='0 0 24 24'
                xmlns='http://www.w3.org/2000/svg'
                ><path
                  d='M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2m13 2h-2.5A3.5 3.5 0 0 0 12 8.5V11h-2v3h2v7h3v-7h3v-3h-3V9a1 1 0 0 1 1-1h2V5z'
                  fill='#fff'></path></svg
              >
            </a><a
              href='https://www.youtube.com/@laksemfarmstay'
              target='_blank'
              ><svg
                height='28'
                viewBox='0 0 32 32'
                xmlns='http://www.w3.org/2000/svg'
                ><path
                  d='M29.41 9.26a3.5 3.5 0 0 0-2.47-2.47C24.76 6.2 16 6.2 16 6.2s-8.76 0-10.94.59a3.5 3.5 0 0 0-2.47 2.47A36.13 36.13 0 0 0 2 16a36.13 36.13 0 0 0 .59 6.74a3.5 3.5 0 0 0 2.47 2.47c2.18.59 10.94.59 10.94.59s8.76 0 10.94-.59a3.5 3.5 0 0 0 2.47-2.47A36.13 36.13 0 0 0 30 16a36.13 36.13 0 0 0-.59-6.74M13.2 20.2v-8.4l7.27 4.2Z'
                  fill='#fff'></path></svg
              ></a
            >
          </div>
        </div>
      </div><div class='flex items-center h-max w-full justify-between'>
        <div class='h-max w-max'>
          <span class='text-[#fff9] text-[1.6vh]'
            >&copy; Laksem Mud Stay<br />All rights reserved.</span
          >
        </div>

        <div
          class='flex items-center h-max w-max gap-[.4vw] text-[#fff9] text-[1.8vh]'
        >
          <svg
            height='24'
            viewBox='0 0 24 24'
            xmlns='http://www.w3.org/2000/svg'
            ><path
              d='m17 7.83l1.697 1.526c1.542 1.389 2.313 2.083 2.313 2.974c0 .89-.771 1.585-2.314 2.973L17 16.83M13.987 5L12 12.415l-1.987 7.415M7 7.83L5.304 9.356C3.76 10.745 2.99 11.44 2.99 12.33c0 .89.771 1.585 2.314 2.973L7 16.83'
              fill='none'
              stroke='#fff9'
              stroke-linecap='round'
            >
            </path>
          </svg>
          <a href='https://wa.link/5c11rc'>Developed By Rizwin</a>
        </div>
      </div>
    </div>
    <!-- FOOTER MOBILE -->
    <section class='h-max min-[990px]:hidden max-w-[100vw] overflow-x-hidden'>
      <footer
        class='flex h-max flex-col w-screen relative bg-gradient-to-t border-[#fff] from-[#000] gap-[2vh] to-[#3B1F1E] border-t-[.2px] px-[2vw] py-[4vh]'
      >
        <div
          class='flex items-center h-max w-full justify-between border-b-[1px] border-[#fff] pb-[4vh] pt-[2vh]'
        >
          <div
            class='flex h-max flex-col justify-evenly text-[1.8vh] text-[#fff] w-[50%] gap-[1vh] ml-[4vw]'
          >
            <h3 class='font-[500]'>
              "Down to Earth"<br />&nbsp; by LAKSEM
            </h3><h4 class='text-[#ececec]'>
              #24, Topslip Road, Sethumadai Village, Anaimalai Taluk, Pollachi,
              Coimbatore, Tamilnadu. Pincode - 642133.
            </h4><a href='tel:+91 9894648555' class='text-[#ececec]'
              >+91 9894648555</a
            >
          </div><div
            class='flex h-max flex-col w-[50%] gap-[2vh] items-end mr-[4vw]'
          >
            <span class='text-[1.8vh] text-[#fff]'>Follow us:</span><div
              class='flex h-max w-max gap-[2.4vw]'
            >
              <a href='https://in.pinterest.com/laksemfarmstay/' target='_blank'
                ><svg
                  height='28'
                  viewBox='0 0 24 24'
                  xmlns='http://www.w3.org/2000/svg'
                  ><path
                    d='M9.04 21.54c.96.29 1.93.46 2.96.46a10 10 0 0 0 10-10A10 10 0 0 0 12 2A10 10 0 0 0 2 12c0 4.25 2.67 7.9 6.44 9.34c-.09-.78-.18-2.07 0-2.96l1.15-4.94s-.29-.58-.29-1.5c0-1.38.86-2.41 1.84-2.41c.86 0 1.26.63 1.26 1.44c0 .86-.57 2.09-.86 3.27c-.17.98.52 1.84 1.52 1.84c1.78 0 3.16-1.9 3.16-4.58c0-2.4-1.72-4.04-4.19-4.04c-2.82 0-4.48 2.1-4.48 4.31c0 .86.28 1.73.74 2.3c.09.06.09.14.06.29l-.29 1.09c0 .17-.11.23-.28.11c-1.28-.56-2.02-2.38-2.02-3.85c0-3.16 2.24-6.03 6.56-6.03c3.44 0 6.12 2.47 6.12 5.75c0 3.44-2.13 6.2-5.18 6.2c-.97 0-1.92-.52-2.26-1.13l-.67 2.37c-.23.86-.86 2.01-1.29 2.7z'
                    fill='#fff'></path></svg
                >
              </a><a
                href='https://www.instagram.com/laksemfarmstay/?hl=en'
                target='_blank'
                ><svg
                  height='28'
                  viewBox='0 0 24 24'
                  xmlns='http://www.w3.org/2000/svg'
                  ><path
                    d='M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3'
                    fill='#fff'></path></svg
                >
              </a><a
                href='https://www.facebook.com/laksemfarmstay/'
                target='_blank'
                ><svg
                  height='28'
                  viewBox='0 0 24 24'
                  xmlns='http://www.w3.org/2000/svg'
                  ><path
                    d='M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2m13 2h-2.5A3.5 3.5 0 0 0 12 8.5V11h-2v3h2v7h3v-7h3v-3h-3V9a1 1 0 0 1 1-1h2V5z'
                    fill='#fff'></path></svg
                >
              </a><a
                href='https://www.youtube.com/@laksemfarmstay'
                target='_blank'
                ><svg
                  height='28'
                  viewBox='0 0 32 32'
                  xmlns='http://www.w3.org/2000/svg'
                  ><path
                    d='M29.41 9.26a3.5 3.5 0 0 0-2.47-2.47C24.76 6.2 16 6.2 16 6.2s-8.76 0-10.94.59a3.5 3.5 0 0 0-2.47 2.47A36.13 36.13 0 0 0 2 16a36.13 36.13 0 0 0 .59 6.74a3.5 3.5 0 0 0 2.47 2.47c2.18.59 10.94.59 10.94.59s8.76 0 10.94-.59a3.5 3.5 0 0 0 2.47-2.47A36.13 36.13 0 0 0 30 16a36.13 36.13 0 0 0-.59-6.74M13.2 20.2v-8.4l7.27 4.2Z'
                    fill='#fff'></path></svg
                ></a
              >
            </div>
          </div>
        </div><div
          class='flex items-center h-max w-full justify-between pt-[2vh]'
        >
          <div class='h-max w-[50%] pl-[4vw]'>
            <span class='text-[1.4vh] text-[#fff9]'
              >&copy; Laksem Mud Stay<br />All rights reserved.</span
            >
          </div><div class='flex h-max justify-end pr-[4vw] w-[50%]'>
            <a href='https://wa.link/5c11rc' class='text-[1.4vh] text-[#fff9]'
              >Developed by Rizwin</a
            >
          </div>
        </div>
      </footer>
    </section>
  </section>
</Page>
