---

---

<section class='h-max w-max min-[990px]:hidden'>
  <div class='h-max w-screen relative'>
    <div class='h-max flex flex-col gap-[2vh] w-full mt-[6vh] px-[4vw]'>
      <h2 class='font-[500] text-[3vh] text-[#F0EEC8]'>Activities:</h2>
    </div><div
      class='h-max flex flex-col gap-[1vh] px-[4vw] py-[2vh] text-[2.4vh] w-full text-[#F0EEC8]'
    >
      <span class='flex items-center'
        ><svg
          stroke='#F0EEC8'
          height='26'
          viewBox='0 0 24 24'
          width='26'
          xmlns='http://www.w3.org/2000/svg'
          ><path
            d='M10.74 10.75L12 8l1.25 2.75L16 12l-2.75 1.26L12 16l-1.26-2.74L8 12z'
            fill='black'></path></svg
        ><h3>Children's play area</h3></span
      ><span class='flex items-center'
        ><svg
          stroke='#F0EEC8'
          height='26'
          viewBox='0 0 24 24'
          width='26'
          xmlns='http://www.w3.org/2000/svg'
          ><path
            d='M10.74 10.75L12 8l1.25 2.75L16 12l-2.75 1.26L12 16l-1.26-2.74L8 12z'
            fill='black'></path></svg
        ><h3>By-cycle ride</h3></span
      ><span class='flex items-center'
        ><svg
          stroke='#F0EEC8'
          height='26'
          viewBox='0 0 24 24'
          width='26'
          xmlns='http://www.w3.org/2000/svg'
          ><path
            d='M10.74 10.75L12 8l1.25 2.75L16 12l-2.75 1.26L12 16l-1.26-2.74L8 12z'
            fill='black'></path></svg
        ><h3>Mini tractor ride</h3></span
      ><span class='flex items-center'
        ><svg
          stroke='#F0EEC8'
          height='26'
          viewBox='0 0 24 24'
          width='26'
          xmlns='http://www.w3.org/2000/svg'
          ><path
            d='M10.74 10.75L12 8l1.25 2.75L16 12l-2.75 1.26L12 16l-1.26-2.74L8 12z'
            fill='black'></path></svg
        ><h3>Coconut farm</h3></span
      ><span class='flex items-center'
        ><svg
          stroke='#F0EEC8'
          height='26'
          viewBox='0 0 24 24'
          width='26'
          xmlns='http://www.w3.org/2000/svg'
          ><path
            d='M10.74 10.75L12 8l1.25 2.75L16 12l-2.75 1.26L12 16l-1.26-2.74L8 12z'
            fill='black'></path></svg
        ><h3>Natural farm pond</h3></span
      ><span class='flex items-center'
        ><svg
          stroke='#F0EEC8'
          height='26'
          viewBox='0 0 24 24'
          width='26'
          xmlns='http://www.w3.org/2000/svg'
          ><path
            d='M10.74 10.75L12 8l1.25 2.75L16 12l-2.75 1.26L12 16l-1.26-2.74L8 12z'
            fill='black'></path></svg
        ><h3>Native cattle</h3></span
      ><span class='flex items-center'
        ><svg
          stroke='#F0EEC8'
          height='26'
          viewBox='0 0 24 24'
          width='26'
          xmlns='http://www.w3.org/2000/svg'
          ><path
            d='M10.74 10.75L12 8l1.25 2.75L16 12l-2.75 1.26L12 16l-1.26-2.74L8 12z'
            fill='black'></path></svg
        ><h3>Fresh farm water tank.</h3></span
      >
    </div>
  </div>
</section>
