---
import Mobile from "../../layouts/Mobile.astro";
---

<Mobile>
  <div
    class='flex h-max flex-col w-screen pt-[22vh] border-[#333] border-b-[.1vh] gap-[8vh] items-start justify-center pb-[8vh] pt-[8vh] px-[4vw] relative text-[#F5EFDA]'
  >
    <h1
      class='font-[600] leading-[4vh] ml-[1vw] text-[#F5EFDA] text-[4vh] z-[2]'
    >
      Featured Youtube Videos:
    </h1><div class='flex h-max flex-col gap-[2vh] w-max'>
      <h2 class='font-[500]'>Food'n Travel by Ebin Jose:</h2><iframe
        allow='accelerometer; autoplay;  encrypted-media; gyroscope; picture-in-picture; '
        allowfullscreen
        class='rounded-md w-[90vw] h-[30vh]'
        loading='lazy'
        src='https://www.youtube.com/embed/uj2fJQA_v18?si=ATDiYmfIh1VQPBWV'
        title='YouTube video player'></iframe>
    </div><div class='flex h-max flex-col gap-[2vh] w-max'>
      <h2 class='font-[500]'>Full Review by hks life:</h2><iframe
        allow='accelerometer; autoplay;  encrypted-media; gyroscope; picture-in-picture; '
        allowfullscreen
        class='rounded-md w-[90vw] h-[30vh]'
        loading='lazy'
        src='https://www.youtube.com/embed/ezuIBL-ndRU?si=s7kwSd5InKQDxAd-'
        title='YouTube video player'></iframe>
    </div><div class='flex h-max flex-col gap-[2vh] w-max'>
      <h3 class='font-[500]'>A walthrough of laksem Mud resort:</h3><iframe
        allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
        allowfullscreen
        class='rounded-md w-[90vw] h-[30vh]'
        loading='lazy'
        src='https://www.youtube.com/embed/ia5AKXeGzt4?si=kiOjFyQO6BUD22fm'
        title='YouTube video player'></iframe>
    </div><div class='flex h-max flex-col gap-[2vh] w-max'>
      <h3 class='font-[500]'>Drone View:</h3><iframe
        allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
        allowfullscreen
        class='rounded-md w-[90vw] h-[30vh]'
        loading='lazy'
        src='https://www.youtube.com/embed/V-GwOjzEQP8?si=pPPRL2rFzG9gSwSX'
        title='YouTube video player'></iframe>
    </div>
  </div>
</Mobile>
